*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: red;
    min-height: 100vh;
    background: url(img/christopher-gower-m_HRfLhgABo-unsplash.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}

.menubar{
    font-size: 1.7rem;
}

.sidebar{
    position: fixed;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.377);
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 9;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}
.menu-buttom{
    display: none;
}

@media(max-width: 775px){
    .hiderOnMobile{
        display: none;
    }

    .menu-buttom{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }

    .menu-buttom{
        display: block;
    }
}