.btn{
    background-color: #222;
    color: #fff;
    padding: .5em 1em;
    text-decoration: none;
    transition: .5s;
    font-weight: 600;
    font-size: 1em;
}

.btn:hover{
    color: #ffbb33;
}