@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.header{
 background-color: #0A1E33;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
}

.header-box{
    max-width: 1700px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    margin: auto;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    color: #fff;
    cursor: pointer;
}

.logo img{
    cursor: pointer;
    display: flex;
    width: 200px;
    filter: brightness(0) invert(1);
}

.navLinks a{
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin-left: 2rem;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease;
}

.navLinks a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width .5s ease;
}

.navLinks a:hover{
    color: #ccc;
}

.navLinks a:hover::after {
    width: 100%;
}

.toggle-bars{
    display: none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.toggle-bars:hover{
    color: #ccc;
}

.principal{
    background-image: url(img/fundo-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.texto-principal{
    /* background-color: #ffffff; */
    width: 600px;
    padding: 1rem;
    border-radius: 12px;
    transform: translateX(100px);
    /* box-shadow: 0px 5px 13px 5px rgba(0, 0, 0, 0.315); */
    color: #fff;
}

.texto-principal h2{
    font-size: 6rem;
    margin-bottom: .5rem;
}

.texto-principal p{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn{
    background-color:#053a5e ;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.466);
}