@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}


body{
    width: 100%;
    min-height: 100vh;
    background: url(img/mountain_landscape24_generated.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

.toggleBar{
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.header .logo{
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
}

.sidebar a{
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1.5rem;
    transition: .5s ease-in-out;
}

.sidebar a:hover{
    color: #b6b6b6;
}

.sidebar #Login{
    background: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1.5rem;
    color: #fff;
    padding: 1rem 2rem;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 8px;
    transition: .5s ease-in-out;
}

.sidebar #Login:hover{
    background: #ccc;
}

@media (max-width:960px){
    .sidebar{
        background-color: #537389a4;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 120px;
        left: 0;
        right: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;
    }

    .toggleBar{
        display: block;
    }

    .sidebar a{
        margin: 0px;
        padding: 1rem 0rem;
    }

    .sidebar #Login{
        margin-bottom:1rem;
    }

    .open{
        transform: translateX(0%);
    }
}