*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: rgb(27, 34, 43);
    overflow-x: hidden;
    line-height: 1em;
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    align-self: start;
    height: 100vh;
    padding: 5px;
    border-right: 1px solid #ffffff71;
}

.sidebar .title{
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidebar .containe li{
    margin-bottom: 20px;
}

.sidebar .containe a{
    color: #fff;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px;
    transition: 300ms ease-in-out;
}

.sidebar .containe a:hover{
    background-color: rgb(51, 68, 88);
}

.conteudo{
    padding: 10px;
}

.conteudo-box{
    padding: 25px;
    border: 1px solid #ffffff71;
    border-radius: 8px;
    margin: 15px;
}

.conteudo-box h2{
    font-size: 30px;
    color: #ccc;
    margin-bottom: 20px;
}

.conteudo p{
    color: #ccc;
    letter-spacing: 1px;
}

@media(max-width: 430px){

    .sidebar{
        position: static;
        height: auto;
        border-bottom: 1px solid #ffffff71;
    }

    .sidebar .containe ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sidebar .containe ul li{
        width: 100%;
        padding: 10px;
    }

    .sidebar .containe ul li a span{
        display: none;
    }

    body{
        grid-template-columns: 1fr;
    }

    .sidebar .containe li{
        margin-bottom: 0px;
    }

    .sidebar .title{
        margin-bottom: 25px;
        text-align: center;
        letter-spacing: 5px;
    }
}