@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:"Roboto Slab", serif ;
}

:root {
  --cor-principal: #F7A8B8;
  --cor-secundaria: #FFD9E0;
  --cor-escura: #E36C8A;
  --cor-fundo: #FFF8FA;
  --cor-fundo-secundario: #FCE9EC;
  --cor-texto: #5E5E5E;
}

header{
    background-color: var(--cor-principal);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

header h1{
    border-bottom: 4px solid #ea4870;
}

header h1 a{
    color: white;
    font-size: 3rem;
}

header h1 a span{
    color: #ea4870;
}

.btnMenu{
    display: none;
    font-size: 2.2rem;
    cursor: pointer;
    color: var(--cor-fundo);
    padding: .5rem;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.btnMenu:hover{
    background-color: #ea4870;
    color: rgb(223, 203, 203);
}

ul{
    background-color: transparent;
    display: flex;
}

ul li{
    padding: .5rem;
    margin: 1.5rem;
    position: relative;
}

ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2.5px;
    background-color: #ea4870;
    transition: all .6s ease-in-out;
}

ul li a:hover{
    color: #ea4870;
}

ul li a:hover::after{
    width: 100%;
}

ul li a{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--cor-fundo);
}

@media (max-width: 738px){
    ul{
        background-color:#e36c8ad4;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        top: 115px;
        left: -100%;
        width: 100%;
        transition: transform .5s;
    }

    ul.open{
        transform: translateX(100%);
    }

    .btnMenu{
        display: block;
    }
}