*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width:300px;
    height: 300px;
    border: 4px solid #ccc;
    background: transparent;
    border-radius: 20px;
    cursor: pointer;
}

.linha{
    width: 200px;
    height: 10px;
    background-color: #ccc;
    display: block;
    margin: 30px auto;
    position: relative;
    transform-origin: center;
    transition: transform .5s ease-in-out;
}

button.active{
    border: 4px solid red;
    box-shadow: 0px 0px 10px 1px rgba(255, 0, 0, 0.644);
}

button.active .linha:nth-child(1){
    transform: translateY(36px) rotate(-45deg);
    background-color: red;
}

button.active .linha:nth-child(2){
    width: 0;
    opacity: 0;
}

button.active .linha:nth-child(3){
    transform: translateY(-36px) rotate(45deg);
    background-color: red;
}