*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgb(97, 202, 240);
    max-width: 530px;
    margin: auto;
}

.cabeca{
    background-color: #72577c ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

.cabeca h1{
    color: #fff;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 600;
}

.navegacao{
    display: block;
}

.navegacao a{
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    padding: 7px 5px;
    border-radius: 8px;
    margin-left: 5px;
}

.menu{
    background-color: #a9c2c9;
    text-align: center;
    color: #fff;
}

.menu p{
    width: 100%;
    background-color: black;
    margin-bottom: 5px;
    padding: 10px 0px;
}

.menu p:hover{
    background-color: gray;
}

main{
    background-color:#c0d1c2;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: mediumspringgreen;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m{
     background-color: #b186c1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.m:hover{
      background-color: #83618f;
}