@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

:root{
    /* 🎨 Paleta 1 – Minimalista Clean */

  --cor-primaria1: #2563eb;
  --cor-secundaria1: #1e293b; 
  --cor-fundo1: #f8fafc;     
  --cor-destaque1: #38bdf8; 
  --cor-texto1: #0f172a;

  /* 🎨 Paleta 2 – Aesthetic Pastel */

  --cor-primaria2: #a78bfa;   
  --cor-secundaria2: #f472b6;
  --cor-fundo2: #faf5ff;     
  --cor-destaque2: #34d399;   
  --cor-texto2: #1f2937; 

  /* 🎨 Paleta 3 – Dark Mode Elegante */

  --cor-secundaria3: #9333ea; 
  --cor-fundo3: #0f172a;      
  --cor-destaque3: #facc15;   
  --cor-texto3: #f9fafb;
  
  /* 🎨 Paleta 4 – Nature Calm */

  --cor-secundaria4: #3b82f6;
  --cor-fundo4: #f1f5f9;      
  --cor-destaque4: #eab308;  
  --cor-texto4: #0f172a;      
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a78bfa;
}

main{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f472b6;
}

.foto img{
    width: 400px;
}

.form-container{
    width: 50%;
    height: 100%;
    background-color: #faf5ff;
}

form{
    width: 100%;
    height: 100%;
    padding: 30px;
}

.titulo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.btn-e{
    background-color:#9333ea;
    color: #fff;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-box{
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}

.input-box input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-box label{
    margin-bottom: 5px;
}

.genero{
    width: 100%;
}

.genero-box{
    display: flex;
    justify-content: center;
   margin-right: 90px;
}

.genero-box input{
    margin-right: 5px;
}

.g{
    display: flex;
    justify-content: center;
}

.btn-c{
    background-color: #9333ea;
    color: #fff;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
}