*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
        background-color: darkgray;
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;
    max-width: 1200px;
    margin: auto;
}

.logo h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.nav-item{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.menuBtn{
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    z-index: 9;
}

main{
    background-color: rgb(126, 166, 112);
    height: 88.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: #fff;
    font-size: 2rem;
    padding: 3rem;
    border-radius: 12px;
}

.mobile__menu{
    background-color: darkgray;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.mobile-box{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .nav-link{
        display: none;
    }

    .menuBtn{
        display: block;
    }

    .open{
        display: block;
    }
}