@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
     font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;

}


.header-box{
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

.header-box .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-box .logo h1{
    color: #fff;
    font-size: 2.3rem;
}

.header-box .nav{
    display: flex;
    gap: 2.5rem;
}

.header-box .nav a{
    position: relative;
    padding: .5rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
        transition: color .5s ease-in-out;
}

.header-box .nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #ccc;
    transition: width .5s ease-in-out;
}

.header-box .nav a:hover{
    color: #ccc;
}

.header-box .nav a:hover::after{
    width: 100%;
}

.btnBars{
    color: #fff;
    background-color: transparent;
    font-size: 2.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    display: none;
}

.header img{
    display: flex;
    max-width: 100px;
}

.section{
    max-width: 1300px;
    margin: auto;
}

.main{
    width: 100%;
    min-height: 100vh;
     background:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
     url(img/pexels-pixabay-62623.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.main-container{
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.main-box{
    max-width: 500px;
    color: #fff;
        text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.main-box h2{
    font-size: 4.5rem;
    text-transform: uppercase;
    text-align: justify;
}

.main-box h2 span{
    color:#489fce ;
}

.main-box p{
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 2.5rem;
}

.btn{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    padding: 1rem;
    border-radius: 8px;
    background-color: #489fce;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.39);
    transition: .3s ease-in-out;
}

.btn:hover{
    background-color: #2e6888;
    box-shadow: 0px 0px 10px 5px #489fce;
}

.header.sticky{
    background-color: #489fce;
}

.sobre{
    width: 100%;
    min-height: calc(100vh - 141.99px);
    display: flex;
    flex-direction: column;
}

.sobre h2{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.sobre h2 span{
    color: #489fce;
}

.sobre-container{
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.164);
}

.sobre-container .img img{
    display: flex;
    max-width: 900px;
}

.sobre-box{
    align-items: center;
    padding: 0rem 2rem
}

.sobre-box h3{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.sobre-box p{
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}