body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.box{
    margin: 10px;
    color: white;
    text-align: center;
    padding: 20px;
}

.container{
    display: flex;
}

.box1{
    width: 300px;
    background-color: #3498db;
}

.box2{
    width: 30%;
    background-color: #e74c3c;
}

@media (max-width: 600px){
    .container{
        flex-direction: column;
    }
}