@media (max-width:420px){
    .container{
        width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .esqueciSenha{
        flex-direction: column-reverse;

        text-align: center;
    }
    
    .esqueciSenha label{
        margin: 7px 0px;
    }

    
    .inputLogin{
        width: 200px;
    }

    .btnLogin{
        width:200px;
        font-size: 16px;
    }

    .inputLogin i{
        font-size: 20px;
    }

}