*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.antes{
    background-image: url(img/pexels-stywo-1054218.jpg);

}

.depois{
    background-image: url(img/pexels-eberhardgross-673018.jpg);
    left: 100%;
}

.box-img{
    width: 650px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.antes, .depois{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transition: .5s ease-in-out;
}

.antes span, .depois span{
    background-color: red;
    color: #fff;
    padding: 10px;
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 0px 10px 0px;
}

.box-img:hover .depois{
    left: 0%;
}