*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    padding: 60px 100px;
    background-color: #282828;
    color: #fff;
    text-decoration: none;
    border-radius: 120px;
    position: relative;
    overflow: hidden;
}

.button span{
    font-size: 2rem;
   position: relative;
}

.button::before{
    content:' ';
    background-color: rgb(9, 207, 233);
    width: 0px;
    height:0px ;
    top: var(--eixoY);
    left: var(--eixoX);
    position: absolute;
    border-radius: 120px;
    transform: translate(-50%,-50%);
     transition: width .9s, height .9s;
}

.button:hover:before{
    width: 1000px;
    height: 1000px;
}