*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height:100vh ;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: black;
    flex-wrap: wrap;
}

h1{
    font-size: 2em;
    color: white;
}

main{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h2{
    font-size: 2.5em;
   
}

p{
    padding: 5px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px;
}

img{
    max-width: 100%;
    
}


.flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0 auto;
    max-width: 800px;
    padding: 10px;
}

.item1:nth-child(1){
    grid-row: 1/3;
}

.flex > div{
    display: grid;
    
}

.flex > img{
    grid-column: 1;
    grid-row: 1/3;
}

.flex  p{
    background-color: rgba(0, 0, 0, 0.348);
    color: white;
    grid-column: 1;
    grid-row: 2;
}